{% extends 'base.html' %}

{% block title %}
    Página de usuário
{% endblock %}

{% block content %}

    <div class="perfil-container">
            <h1>Bem-vindo(a), {{ usuario.username }}!</h1>
            
            <div class="dados-usuario">
                <p><strong>Nome de usuário:</strong> {{ usuario.username }}</p>
                
                {% if usuario.email %}
                    <p><strong>E-mail:</strong> {{ usuario.email }}</p>
                {% else %}
                    <p><strong>E-mail:</strong> Não cadastrado.</p>
                {% endif %}
                
            </div>

            <div class="acoes-usuario">
                <a href="{{ url('criar_tarefa') }}" class="btn-nova-tarefa">Criar Tarefa?</a>
            </div>
            
            <hr>

            <div class="tarefas">

                {% if tarefas %}

                    {% for tarefa in tarefas %}
                        <div class="tarefa">
                            <h2>{{ tarefa.nome }}</h2>
                            <p>{{ tarefa.descricao }}</p>
                            <p><strong>Concluída:</strong> {% if tarefa.concluida %}Sim{% else %}Não{% endif %}</p>
                            <p>Criada em: {{ tarefa.criado_em }}</p>
                        </div>
                        <hr>
                    {% endfor %}

                {% else %}
                    <p>Você ainda não possui tarefas</p>
                {% endif %}

            </div>
                        
    </div>

{% endblock %}